# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store


vsxmake2022/BocchiEngine.sln
vsxmake2022/Xmake.Custom.props
vsxmake2022/Xmake.Custom.targets
vsxmake2022/.vs/BocchiEngine/FileContentIndex/ad3be9c7-ac37-43c2-9bb9-57218315248d.vsidx
vsxmake2022/.vs/BocchiEngine/FileContentIndex/read.lock
vsxmake2022/.vs/BocchiEngine/v17/.suo
vsxmake2022/.vs/BocchiEngine/v17/Browse.VC.db
vsxmake2022/.vs/BocchiEngine/v17/Browse.VC.db-shm
vsxmake2022/.vs/BocchiEngine/v17/Browse.VC.db-wal
vsxmake2022/.vs/BocchiEngine/v17/Browse.VC.opendb
vsxmake2022/.vs/BocchiEngine/v17/ipch/AutoPCH/3ae33739ef48862/GLOBAL_CONTEXT.ipch
vsxmake2022/.vs/BocchiEngine/v17/ipch/AutoPCH/3bce69b778defde7/MAIN.ipch
vsxmake2022/.vs/BocchiEngine/v17/ipch/AutoPCH/3ff7424f61ac0730/WINDOW_SYSTEM.ipch
vsxmake2022/.vs/BocchiEngine/v17/ipch/AutoPCH/7528ad4fa27ba3aa/ENGINE.ipch
vsxmake2022/.vs/vulkan_learn/FileContentIndex/0c1741e6-167e-4d4f-ae1f-51f6cc2a8d44.vsidx
vsxmake2022/.vs/vulkan_learn/FileContentIndex/8c4eb504-a91c-45a3-b439-9d67bddc7d20.vsidx
vsxmake2022/.vs/vulkan_learn/FileContentIndex/16fc4014-19c9-477d-baba-e728d43bc37e.vsidx
vsxmake2022/.vs/vulkan_learn/FileContentIndex/d43a816a-fedc-46ac-9c38-c3cff783e939.vsidx
vsxmake2022/.vs/vulkan_learn/FileContentIndex/read.lock
vsxmake2022/.vs/vulkan_learn/v17/.suo
vsxmake2022/.vs/vulkan_learn/v17/Browse.VC.db
vsxmake2022/.vs/vulkan_learn/v17/fileList.bin
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/359d8602afc26f64/GLOBAL_CONTEXT.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/54274da1247ce55c/WINDOW_SYSTEM.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/5985d1295453c62e/ENGINE.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/69a4068adb217a55/LOG_SYSTEM.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/7a292d570897954e/GLOBAL_CONTEXT.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/995d7c05402d323b/MAIN.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/c00cca48ebc3f062/ENGINE.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/c22c7c23f1affde/MICO.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/d04c8e6b127f05dc/LOG_SYSTEM.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/dcfd510ddb9b3093/ENGINE.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/e12913581e513c0d/WINDOW_SYSTEM.ipch
vsxmake2022/.vs/vulkan_learn/v17/ipch/AutoPCH/eaafd8cc549f79ed/GLOBAL_CONTEXT.ipch
vsxmake2022/BocchiEngine/BocchiEngine.vcxproj
vsxmake2022/BocchiEngine/BocchiEngine.vcxproj.filters
vsxmake2022/BocchiEngine/BocchiEngine.vcxproj.user
vsxmake2022/BocchiEngine/Xmake.Custom.items
vsxmake2022/BocchiEngine/Xmake.Custom.items.filters
vsxmake2022/BocchiEngine/Xmake.Custom.props
vsxmake2022/BocchiEngine/Xmake.Custom.targets
.vscode/compile_commands.json
.vscode/settings.json
